In [7]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [8]:
pip install numpy matplotlib pandas

Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.4.1)
Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (3.10.8)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /Users/mayanksmac/Library/Python/3.13/lib/python/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib) (12.1.0)
Requirement already satisfied: pyparsing>=3 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib) (3.3.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/mayanksmac/Library/Python/3.13/lib/python/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /Users/mayanksmac/Library/Python/3.13/lib/python/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [9]:
data = pd.read_csv('IMDB Dataset.csv')
print(data.head())

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [10]:
rows = data.shape[0]
print(f'The dataset contains {rows} rows.')

The dataset contains 50000 rows.

In [11]:
import string
# Remove punctuation from all text columns
data = data.apply(
    lambda col: 
        col.str.translate(str.maketrans('', '', string.punctuation)) 
            if col.dtype == "object" 
            else col
)

print("Punctuation removed successfully!")
data.head()

Punctuation removed successfully!

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production br br The filmin...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically theres a family where a little boy J...  negative
4  Petter Matteis Love in the Time of Money is a ...  positive

In [12]:
lower_data = data.apply(
    lambda col:
        col.str.lower()
            if col.dtype == "object"
            else col
)
print("Converted to lowercase successfully!")
lower_data.head()

Converted to lowercase successfully!

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production br br the filmin...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically theres a family where a little boy j...  negative
4  petter matteis love in the time of money is a ...  positive

In [13]:
remove_html = lower_data.apply(
    lambda col:
        col.str.replace(r'<.*?>', '', regex=True)
            if col.dtype == "object"
            else col
)
print("HTML tags removed successfully!")
remove_html.head()

HTML tags removed successfully!

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production br br the filmin...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically theres a family where a little boy j...  negative
4  petter matteis love in the time of money is a ...  positive

In [14]:
remove_stopwords = remove_html.copy()
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS
remove_stopwords['review'] = remove_stopwords['review'].apply(
    lambda text: ' '.join(
        word for word in text.split() if word not in ENGLISH_STOP_WORDS
    )
)
print("Stop words removed successfully!")
remove_stopwords.head()

Stop words removed successfully!

                                              review sentiment
0  reviewers mentioned watching just 1 oz episode...  positive
1  wonderful little production br br filming tech...  positive
2  thought wonderful way spend time hot summer we...  positive
3  basically theres family little boy jake thinks...  negative
4  petter matteis love time money visually stunni...  positive

In [15]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (1.8.0)
Requirement already satisfied: numpy>=1.24.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from scikit-learn) (2.4.1)
Requirement already satisfied: scipy>=1.10.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from scikit-learn) (1.17.0)
Requirement already satisfied: joblib>=1.3.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from scikit-learn) (3.6.0)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [16]:
remove_duplicates = remove_stopwords.drop_duplicates()
print(f"Duplicates removed! New dataset contains {remove_duplicates.shape[0]} rows.")
remove_duplicates.head()

Duplicates removed! New dataset contains 49578 rows.

                                              review sentiment
0  reviewers mentioned watching just 1 oz episode...  positive
1  wonderful little production br br filming tech...  positive
2  thought wonderful way spend time hot summer we...  positive
3  basically theres family little boy jake thinks...  negative
4  petter matteis love time money visually stunni...  positive

In [17]:
data["word_count"] = data['review'].apply(lambda x: len(x.split()))
print("Word count added successfully!")
data.head()

Word count added successfully!

                                              review sentiment  word_count
0  One of the other reviewers has mentioned that ...  positive         307
1  A wonderful little production br br The filmin...  positive         162
2  I thought this was a wonderful way to spend ti...  positive         166
3  Basically theres a family where a little boy J...  negative         135
4  Petter Matteis Love in the Time of Money is a ...  positive         230

In [18]:
data["sentiment_lable"] = data['sentiment'].apply(lambda x: 1 if x == 'positive' else 0)
print("Sentiment label added successfully!")
data.head()

Sentiment label added successfully!

,review,sentiment,word_count,sentiment_lable
0,One of the other reviewers has mentioned that ...,positive,307,1
1,A wonderful little production br br The filmin...,positive,162,1
2,I thought this was a wonderful way to spend ti...,positive,166,1
3,Basically theres a family where a little boy J...,negative,135,0
4,Petter Matteis Love in the Time of Money is a ...,positive,230,1

In [19]:
data["char_length"] = data['review'].apply(lambda x: len(x))
print("Character length added successfully!")
data.head()

Character length added successfully!

,review,sentiment,word_count,sentiment_lable,char_length
0,One of the other reviewers has mentioned that ...,positive,307,1,1683
1,A wonderful little production br br The filmin...,positive,162,1,954
2,I thought this was a wonderful way to spend ti...,positive,166,1,886
3,Basically theres a family where a little boy J...,negative,135,0,706
4,Petter Matteis Love in the Time of Money is a ...,positive,230,1,1261

In [20]:
data["review_id"] = np.arange(len(data))
print("Review ID added successfully!")
data.head()

Review ID added successfully!

,review,sentiment,word_count,sentiment_lable,char_length,review_id
0,One of the other reviewers has mentioned that ...,positive,307,1,1683,0
1,A wonderful little production br br The filmin...,positive,162,1,954,1
2,I thought this was a wonderful way to spend ti...,positive,166,1,886,2
3,Basically theres a family where a little boy J...,negative,135,0,706,3
4,Petter Matteis Love in the Time of Money is a ...,positive,230,1,1261,4

In [21]:
import re
stop_words = set(ENGLISH_STOP_WORDS)

def clean_text(text):
    text = str(text).lower()
    
    # remove html tags
    text = re.sub(r'<.*?>', ' ', text)
    
    # remove punctuation and numbers
    text = re.sub(r'[^a-z\s]', ' ', text)
    
    # remove extra spaces
    text = re.sub(r'\s+', ' ', text).strip()
    
    # remove stopwords
    words = [w for w in text.split() if w not in stop_words]
    
    return " ".join(words)
data["clean_text"] = data["review"].apply(clean_text)
data.head()

,review,sentiment,word_count,sentiment_lable,char_length,review_id,clean_text
0,One of the other reviewers has mentioned that ...,positive,307,1,1683,0,reviewers mentioned watching just oz episode y...
1,A wonderful little production br br The filmin...,positive,162,1,954,1,wonderful little production br br filming tech...
2,I thought this was a wonderful way to spend ti...,positive,166,1,886,2,thought wonderful way spend time hot summer we...
3,Basically theres a family where a little boy J...,negative,135,0,706,3,basically theres family little boy jake thinks...
4,Petter Matteis Love in the Time of Money is a ...,positive,230,1,1261,4,petter matteis love time money visually stunni...

In [22]:
themes = {
    "acting": ["actor", "acting", "performance"],
    "story": ["story", "plot", "script"],
    "music": ["music", "song", "sound"],
    "visuals": ["visual", "cinema", "camera"]
}

def extract_theme(text):
    for theme, words in themes.items():
        if any(w in text for w in words):
            return theme
    return "other"

data["keyword_theme"] = data["clean_text"].apply(extract_theme)
data.head()

,review,sentiment,word_count,sentiment_lable,char_length,review_id,clean_text,keyword_theme
0,One of the other reviewers has mentioned that ...,positive,307,1,1683,0,reviewers mentioned watching just oz episode y...,other
1,A wonderful little production br br The filmin...,positive,162,1,954,1,wonderful little production br br filming tech...,acting
2,I thought this was a wonderful way to spend ti...,positive,166,1,886,2,thought wonderful way spend time hot summer we...,story
3,Basically theres a family where a little boy J...,negative,135,0,706,3,basically theres family little boy jake thinks...,other
4,Petter Matteis Love in the Time of Money is a ...,positive,230,1,1261,4,petter matteis love time money visually stunni...,acting

In [23]:
data["length_bucket"] = pd.cut(
    data["word_count"],
    bins=[0,50,150,300,1000],
    labels=["short","medium","long","very long"]
)
print("Length bucket added successfully!")
data.head()

Length bucket added successfully!

,review,sentiment,word_count,sentiment_lable,char_length,review_id,clean_text,keyword_theme,length_bucket
0,One of the other reviewers has mentioned that ...,positive,307,1,1683,0,reviewers mentioned watching just oz episode y...,other,very long
1,A wonderful little production br br The filmin...,positive,162,1,954,1,wonderful little production br br filming tech...,acting,long
2,I thought this was a wonderful way to spend ti...,positive,166,1,886,2,thought wonderful way spend time hot summer we...,story,long
3,Basically theres a family where a little boy J...,negative,135,0,706,3,basically theres family little boy jake thinks...,other,medium
4,Petter Matteis Love in the Time of Money is a ...,positive,230,1,1261,4,petter matteis love time money visually stunni...,acting,long

In [24]:
df = data
df.to_csv('IMDB_Dataset_Cleaned.csv', index=False)
print("Cleaned dataset saved to 'IMDB_Dataset_Cleaned.csv' successfully!")

Cleaned dataset saved to 'IMDB_Dataset_Cleaned.csv' successfully!